# Node modules  
node_modules/  
npm-debug.log  
yarn-error.log  
package-lock.json  
yarn.lock  

# Logs  
logs  
*.log  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
lerna-debug.log*  
.log  

# Environment variables  
.env  
.env.local  
.env.*.local  

# Build and dependencies  
dist/  
build/  
.cache/  
.tmp/  
coverage/  
.vscode/  
.DS_Store  
Thumbs.db  

# OS-specific  
*.swp  
*.swo  
.idea/  
*.iml  

# PM2 process files  
pm2.pid  
pm2.log  

# Misc  
debug.log  
